body {
    background-color: rgb(37, 146, 95);
}
h1 {
    text-align: center; color: rgb(8, 12, 68);
}
p{
    text-align: center; color: black; 
}
.o (3).jpg{
    width: 40%;
    margin-left: 50%;
    border-radius: 10px;   
} 